NEXT_PUBLIC_SUPABASE_URL=https://latoisacellcgrlvcpjz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhdG9pc2FjZWxsY2dybHZjcGp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MDY4OTgsImV4cCI6MjA5MDM4Mjg5OH0.wuibE6munsQ40uTS3S4Aw33aY0k_6dtl1GFzjuIAVXo
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
NEXT_PUBLIC_SITE_URL=https://agentvps.cloud
SOLANA_RPC=https://api.mainnet-beta.solana.com
NOVA_WALLET=75Pxyr1sbvBDwNqZgu4Kmk9HQthbCerKF3j2vhMFTqG3
PAYMENT_WEBHOOK_KEY=change_me_to_a_random_secret
